<div class="fixed-grid has-6-cols">
  <div class="grid">
    <%= link_to({ controller: 'email/panel/smtps' }, data: { turbo_frame: 'panel', action: 'menu-popup#enter' }, class: 'cell button is-fullwidth') do %>
      <span><%= t('email.panel.smtps.index.title') %></span>
    <% end %>
    <%= link_to({ controller: 'email/panel/reasons' }, data: { turbo_frame: 'panel', action: 'menu-popup#enter' }, class: 'cell button is-fullwidth') do %>
      <span><%= t('email.panel.reasons.index.title') %></span>
    <% end %>
    <%= link_to({ controller: 'email/panel/logs' }, data: { turbo_frame: 'panel', action: 'menu-popup#enter' }, class: active_helper(controllers: 'logs', item: 'cell button is-fullwidth', active: 'cell button is-fullwidth is-active')) do %>
      <span><%= t('email.panel.logs.index.title') %></span>
    <% end %>
  </div>
</div>