<%= search_form_with model: LogMailer.new do |f| %>
  <div class="fields">
    <%= f.text_field :mailer %>
    <%= f.text_field :action %>
    <%= f.text_field :mail_to %>
    <%= f.submit 'Search' %>
  </div>
<% end %>
