<div class="ui top attached segment">
  <%= render 'filter' %>
</div>

<table class="ui bottom attached selectable table">
  <thead>
    <tr>
      <th class="one wide"><%= LogMailer.human_attribute_name(:id) %></th>
      <th class="two wide"><%= LogMailer.human_attribute_name(:mailer) %></th>
      <th class="two wide"><%= LogMailer.human_attribute_name(:action) %></th>
      <th class="three wide"><%= LogMailer.human_attribute_name(:params) %></th>
      <th class="two wide">
        <p><%= LogMailer.human_attribute_name(:mail_to) %></p>
        <p><%= LogMailer.human_attribute_name(:cc_to) %></p>
      </th>
      <th class="one wide"><%= LogMailer.human_attribute_name(:sent_status) %></th>
      <th class="five wide"><%= LogMailer.human_attribute_name(:sent_string) %></th>
      <th class="two wide"><%= LogMailer.human_attribute_name(:created_at) %></th>
      <th class="two wide"></th>
    </tr>
  </thead>

  <tbody>
  <% @log_mailers.each do |log_mailer| %>
    <tr>
      <td><%= log_mailer.id %></td>
      <td><%= log_mailer.mailer %></td>
      <td><%= log_mailer.action %></td>
      <td><%= log_mailer.params %></td>
      <td>
        <p><%= log_mailer.mail_to %></p>
        <p><%= log_mailer.cc_to %></p>
      </td>
      <td><%= log_mailer.sent_status %></td>
      <td><%= log_mailer.sent_string %></td>
      <td><time><%= log_mailer.created_at.to_s(:rfc822) %></time></td>
      <td>
        <%= link_to admin_log_mailer_path(log_mailer), data: { tooltip: t('.show') }, class: 'ui blue mini icon button' do %>
          <i class="location arrow icon"></i>
        <% end %>
        <%= link_to admin_log_mailer_path(log_mailer), method: :delete, data: { tooltip: t('.destroy'), confirm: 'Are you sure?' }, class: 'ui red mini icon button' do %>
          <i class="times icon"></i>
        <% end %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>

<%= paginate @log_mailers %>
