<td><%= link_to model.id, { action: 'show', id: model.id }, text: true %></td>
<td>
  <p><%= model.path %></p>
  <p><%= model.controller_name %></p>
  <p><%= model.action_name %></p>
</td>
<td>
  <p><%= model.params %></p>
</td>
<td>
  <p><%= model.session %></p>
</td>
<td>
  <p style="max-height: 100px"><%= model.exception %></p>
</td>
<td><time data-controller="time"><%= model.created_at.to_s(:rfc822) %></time></td>
