<th style="width: 4rem"><%= Logged::LogRecord.human_attribute_name(:id) %></th>
<th>
  <p><%= Logged::LogRecord.human_attribute_name(:path) %></p>
  <p><%= Logged::LogRecord.human_attribute_name(:controller_name) %></p>
  <p><%= Logged::LogRecord.human_attribute_name(:action_name) %></p>
</th>
<th><%= Logged::LogRecord.human_attribute_name(:params) %></th>
<th><%= Logged::LogRecord.human_attribute_name(:session) %></th>
<th><%= Logged::LogRecord.human_attribute_name(:exception) %></th>
<th><%= Logged::LogRecord.human_attribute_name(:created_at) %></th>
<th></th>
