<tr>
  <td><%= Logged::LogRecord.human_attribute_name(:created_at) %></td>
  <td><time data-controller="time"><%= @log_record.created_at.to_s(:rfc822) %></time></td>
</tr>
<tr>
  <td><%= Logged::LogRecord.human_attribute_name(:exception_object) %></td>
  <td><%= @log_record.exception_object %></td>
</tr>
<tr>
  <td><%= Logged::LogRecord.human_attribute_name(:path) %></td>
  <td><%= @log_record.path %></td>
</tr>
<tr>
  <td><%= Logged::LogRecord.human_attribute_name(:controller_name) %></td>
  <td><%= @log_record.controller_name %></td>
</tr>
<tr>
  <td><%= Logged::LogRecord.human_attribute_name(:action_name) %></td>
  <td><%= @log_record.action_name %></td>
</tr>
<tr>
  <td><%= Logged::LogRecord.human_attribute_name(:params) %></td>
  <td><%= simple_format @log_record.params %></td>
</tr>
<tr>
  <td><%= Logged::LogRecord.human_attribute_name(:cookie) %></td>
  <td><%= simple_format @log_record.cookie %></td>
</tr>
<tr>
  <td><%= Logged::LogRecord.human_attribute_name(:session) %></td>
  <td><%= simple_format @log_record.session %></td>
</tr>
<tr>
  <td><%= Logged::LogRecord.human_attribute_name(:headers) %></td>
  <td><%= simple_format @log_record.headers %></td>
</tr>
<tr>
  <td><%= Logged::LogRecord.human_attribute_name(:exception) %></td>
  <td><pre><%= @log_record.exception %></pre></td>
</tr>
<tr>
  <td><%= Logged::LogRecord.human_attribute_name(:exception_backtrace) %></td>
  <td><pre style="overflow-x: auto"><%= @log_record.exception_backtrace.join("\n") %></pre></td>
</tr>
