<div class="ui padded grid">
  <div class="sixteen wide column">

    <div class="ui top attached menu borderless">
      <div class="item"><strong>日志列表</strong></div>
    </div>

    <%= render 'search_form' %>

    <table class="ui fixed table">
      <thead>
      <tr>
        <th class="one wide">ID</th>
        <th class="three wide">Path / Controller / Action</th>
        <th class="three wide">params</th>
        <th class="three wide">Session</th>
        <th class="four wide">异常</th>
        <th class="one wide">创建时间</th>
        <th class="one wide"></th>
      </tr>
      </thead>

      <tbody>
      <% @log_records.each do |log_record| %>
        <tr>
          <td><%= log_record.id %></td>
          <td>
            <p><%= log_record.path %></p>
            <p><%= log_record.controller %></p>
            <p><%= log_record.action %></p>
          </td>
          <td><%= simple_format_hash log_record.params %></td>
          <td><%= simple_format_hash log_record.session %></td>
          <td><%= simple_format log_record.exception %></td>
          <td><%= log_record.created_at.to_s(:db2) %></td>
          <td class="ui mini labels">
            <%= link_to '详细', admin_log_record_path(log_record), class: 'ui blue label' %>
            <%= link_to '删除', admin_log_record_path(log_record), method: :delete, class: 'ui red label' %>
          </td>
        </tr>
      <% end %>
      </tbody>
    </table>

    <%= paginate @log_records %>

  </div>
</div>
