<td><%= model.id %></td>
<td>
  <p><%= model.document_uri %></p>
  <p><%= model.referrer %></p>
</td>
<td><%= model.blocked_uri %></td>
<td>
  <p><%= model.violated_directive %></p>
  <p><%= model.effective_directive %></p>
</td>
<td><%= simple_format model.original_policy.split('; ') %></td>
