<tr>
  <td><%= log_csp.id %></td>
  <td>
    <p><%= log_csp.document_uri %></p>
    <p><%= log_csp.referrer %></p>
  </td>
  <td><%= log_csp.blocked_uri %></td>
  <td>
    <p><%= log_csp.violated_directive %></p>
    <p><%= log_csp.effective_directive %></p>
  </td>
  <td><%= simple_format log_csp.original_policy.split('; ') %></td>
  <td>
    <%= link_to panel_log_csp_path(log_csp), aria: { label: t('.show') }, remote: true, class: 'button is-small is-rounded is-light' do %>
      <i class="fas fa-info"></i>
    <% end %>
    <%= link_to panel_log_csp_path(log_csp), method: :delete, aria: { label: t('.destroy') }, data: { confirm: t('.confirm') }, remote: true, class: 'button is-small is-rounded is-light' do %>
      <i class="fas fa-trash-alt"></i>
    <% end %>
  </td>
</tr>
