<th><%= Logged::LogCsp.human_attribute_name(:id) %></th>
<th>
  <p><%= Logged::LogCsp.human_attribute_name(:document_uri) %></p>
  <p><%= Logged::LogCsp.human_attribute_name(:referrer) %></p>
</th>
<th><%= Logged::LogCsp.human_attribute_name(:blocked_uri) %></th>
<th>
  <p><%= Logged::LogCsp.human_attribute_name(:violated_directive) %></p>
  <p><%= Logged::LogCsp.human_attribute_name(:effective_directive) %></p>
</th>
<th><%= Logged::LogCsp.human_attribute_name(:original_policy) %></th>
<th></th>
