<tr>
  <td class="has-text-right"><%= Logged::LogCsp.human_attribute_name(:document_uri) %></td>
  <td><%= @log_csp.document_uri %></td>
</tr>
<tr>
  <td class="has-text-right"><%= Logged::LogCsp.human_attribute_name(:referrer) %></td>
  <td><%= @log_csp.referrer %></td>
</tr>
<tr>
  <td class="has-text-right"><%= Logged::LogCsp.human_attribute_name(:blocked_uri) %></td>
  <td><%= @log_csp.blocked_uri %></td>
</tr>
<tr>
  <td class="has-text-right"><%= Logged::LogCsp.human_attribute_name(:violated_directive) %></td>
  <td><%= @log_csp.violated_directive %></td>
</tr>
<tr>
  <td class="has-text-right"><%= Logged::LogCsp.human_attribute_name(:effective_directive) %></td>
  <td><%= @log_csp.effective_directive %></td>
</tr>
<tr>
  <td class="has-text-right"><%= Logged::LogCsp.human_attribute_name(:original_policy) %></td>
  <td><%= simple_format @log_csp.original_policy.split('; ') %></td>
</tr>
<tr>
  <td class="has-text-right"><%= Logged::LogCsp.human_attribute_name(:disposition) %></td>
  <td><%= @log_csp.disposition %></td>
</tr>
<tr>
  <td class="has-text-right"><%= Logged::LogCsp.human_attribute_name(:source_file) %></td>
  <td><%= @log_csp.source_file %></td>
</tr>
<tr>
  <td class="has-text-right"><%= Logged::LogCsp.human_attribute_name(:line_number) %></td>
  <td><%= @log_csp.line_number %></td>
</tr>
<tr>
  <td class="has-text-right"><%= Logged::LogCsp.human_attribute_name(:column_number) %></td>
  <td><%= @log_csp.column_number %></td>
</tr>
<tr>
  <td class="has-text-right"><%= Logged::LogCsp.human_attribute_name(:status_code) %></td>
  <td><%= @log_csp.status_code %></td>
</tr>
<tr>
  <td class="has-text-right"><%= Logged::LogCsp.human_attribute_name(:script_sample) %></td>
  <td><%= @log_csp.script_sample %></td>
</tr>
