<th><%= Email::Smtp.human_attribute_name(:name) %></th>
<th><%= Email::Smtp.human_attribute_name(:address) %></th>
<th><%= Email::Smtp.human_attribute_name(:port) %></th>
<th><%= Email::Smtp.human_attribute_name(:authentication) %></th>
<th>
  <p><%= Email::Smtp.human_attribute_name(:ssl) %></p>
  <p><%= Email::Smtp.human_attribute_name(:enable_starttls_auto) %></p>
  <p><%= Email::Smtp.human_attribute_name(:openssl_verify_mode) %></p>
</th>
