<td>
  <p><%= model.mail_from %></p>
  <p><%= model.mail_to %></p>
</td>
<td>
  <p><%= model.sent_status %></p>
  <p><%= model.sent_string %></p>
</td>
<td><time data-controller="time"><%= model.created_at.to_s(:iso8601) %></time></td>
