<th>
  <p><%= Email::Log.human_attribute_name(:mail_from) %></p>
  <p><%= Email::Log.human_attribute_name(:mail_to) %></p>
</th>
<th>
  <p><%= Email::Log.human_attribute_name(:sent_status) %></p>
  <p><%= Email::Log.human_attribute_name(:sent_string) %></p>
</th>
<th><%= Email::Log.human_attribute_name(:created_at) %></th>
