<tr>
  <td class="has-text-right"><%= Template.human_attribute_name(:honorific) %></td>
  <td><%= @template.honorific %></td>
</tr>
<tr>
  <td class="has-text-right"><%= Template.human_attribute_name(:body) %></td>
  <td><%= @template.body %></td>
</tr>
<tr>
  <td class="has-text-right"><%= Template.human_attribute_name(:order_prefix) %></td>
  <td><%= @template.order_prefix %></td>
</tr>
<tr>
  <td class="has-text-right"><%= Template.human_attribute_name(:cover) %></td>
  <td><%= @template.cover %></td>
</tr>
