<div class="ui attached segment">
  <%= render 'search_form' %>
</div>

<table class="ui fixed bottom attached table">
  <thead>
    <tr>
      <th class="one wide"><%= LogRecord.human_attribute_name(:id) %></th>
      <th class="three wide">
        <p><%= LogRecord.human_attribute_name(:path) %></p>
        <p><%= LogRecord.human_attribute_name(:controller) %></p>
        <p><%= LogRecord.human_attribute_name(:action) %></p>
      </th>
      <th class="three wide"><%= LogRecord.human_attribute_name(:params) %></th>
      <th class="three wide"><%= LogRecord.human_attribute_name(:session) %></th>
      <th class="four wide"><%= LogRecord.human_attribute_name(:exception) %></th>
      <th class="one wide"><%= LogRecord.human_attribute_name(:created_at) %></th>
      <th class="one wide"></th>
    </tr>
  </thead>

  <tbody>
  <% @log_records.each do |log_record| %>
    <tr>
      <td><%= log_record.id %></td>
      <td>
        <p><%= log_record.path %></p>
        <p><%= log_record.controller %></p>
        <p><%= log_record.action %></p>
      </td>
      <td><%= simple_format log_record.params %></td>
      <td><%= simple_format log_record.session %></td>
      <td><%= simple_format log_record.exception %></td>
      <td><time><%= log_record.created_at.to_s(:rfc822) %></time></td>
      <td>
        <%= link_to admin_log_record_path(log_record), data: { tooltip: t('.show') }, class: 'ui blue mini icon button' do %>
          <i class="location arrow icon"></i>
        <% end %>
        <%= link_to admin_log_record_path(log_record), method: :delete, data: { tooltip: t('.destroy') }, class: 'ui red mini icon button' do %>
          <i class="times icon"></i>
        <% end %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>

<%= paginate @log_records %>
