<div class="ui top attached segment">
  <%= render 'filter' %>
</div>

<table class="ui bottom attached selectable fixed table">
  <thead>
    <tr>
      <th class="one wide"><%= LogRecord.human_attribute_name(:id) %></th>
      <th class="three wide">
        <p><%= LogRecord.human_attribute_name(:path) %></p>
        <p><%= LogRecord.human_attribute_name(:controller_name) %></p>
        <p><%= LogRecord.human_attribute_name(:action_name) %></p>
      </th>
      <th class="three wide"><%= LogRecord.human_attribute_name(:params) %></th>
      <th class="three wide"><%= LogRecord.human_attribute_name(:session) %></th>
      <th class="four wide"><%= LogRecord.human_attribute_name(:exception) %></th>
      <th class="one wide"><%= LogRecord.human_attribute_name(:created_at) %></th>
      <th class="one wide"></th>
    </tr>
  </thead>

  <tbody>
  <% @log_records.each do |log_record| %>
    <tr>
      <td><%= link_to log_record.id, admin_log_record_path(log_record) %></td>
      <td>
        <p><%= log_record.path %></p>
        <p><%= log_record.controller_name %></p>
        <p><%= log_record.action_name %></p>
      </td>
      <td><%= simple_format log_record.params %></td>
      <td><%= simple_format log_record.session %></td>
      <td><%= simple_format log_record.exception %></td>
      <td><time><%= log_record.created_at.to_s(:rfc822) %></time></td>
      <td>
        <%= link_to admin_log_record_path(log_record), data: { tooltip: t('.show') }, remote: true, class: 'ui mini circular icon button' do %>
          <i class="fas fa-eye"></i>
        <% end %>
        <%= link_to admin_log_record_path(log_record), method: :delete, data: { tooltip: t('.destroy') }, remote: true, class: 'ui mini circular icon button' do %>
          <i class="fas fa-trash"></i>
        <% end %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>

<%= paginate @log_records %>
