<%= link_to({ controller: 'smtps' }, class: 'cell button is-fullwidth') do %>
  <span><%= t('.smtps.index.title') %></span>
<% end %>
<%= link_to({ controller: 'reasons' }, class: 'cell button is-fullwidth') do %>
  <span><%= t('.reasons.index.title') %></span>
<% end %>
<%= link_to({ controller: 'logs' }, class: 'cell button is-fullwidth') do %>
  <span><%= t('.logs.index.title') %></span>
<% end %>
