<div class="ui padded grid">
  <div class="sixteen wide column">

    <div class="ui top attached menu borderless">
      <div class="item"><strong>日志列表</strong></div>
    </div>
    <%= render 'search_form' %>

    <table class="ui fixed table">
      <thead>
      <tr>
        <th class="one wide">ID</th>
        <th class="two wide">Mailer</th>
        <th class="two wide">Action</th>
        <th class="three wide">Params</th>
        <th class="two wide">Message ID</th>
        <th class="one wide">发送状态</th>
        <th class="five wide">返回文本</th>
        <th class="two wide">创建时间</th>
        <th class="two wide"></th>
      </tr>
      </thead>

      <tbody>
      <% @log_mailers.each do |log_mailer| %>
        <tr>
          <td><%= log_mailer.id %></td>
          <td><%= log_mailer.mailer %></td>
          <td><%= log_mailer.action %></td>
          <td><%= log_mailer.params %></td>
          <td><%= log_mailer.message_object_id %></td>
          <td><%= log_mailer.sent_status %></td>
          <td><%= log_mailer.sent_string %></td>
          <td><%= log_mailer.created_at.to_s(:db2) %></td>
          <td>
            <%= link_to '详细', log_mailer_path(log_mailer), class: 'ui blue label' %>
            <%= link_to '删除', log_mailer_path(log_mailer), method: :delete, data: { confirm: 'Are you sure?' }, class: 'ui red label' %>
          </td>
        </tr>
      <% end %>
      </tbody>
    </table>

    <%= paginate @log_mailers %>

  </div>
</div>
