<td><%= link_to model.id, { action: 'show', id: model.id }, text: true %></td>
<td>
  <p><%= model.mailer %></p>
  <p><%= model.action_name %></p>
</td>
<td><%= model.params %></td>
<td>
  <p><%= model.mail_to %></p>
  <p><%= model.cc_to %></p>
</td>
<td>
  <p class="text-success"><%= model.sent_status %></p>
  <p class="text-grey"><time data-controller="time" data-format="human"><%= model.created_at.to_formatted_s(:iso8601) %></time></p>
</td>
