<%= form_with theme: 'search', model: Email::Log.new do |f| %>
  <div class="field-body">
    <%= f.text_field :mailer %>
    <%= f.text_field :action_name %>
    <%= f.text_field :mail_to %>
    <div class="field is-narrow">
      <%= f.submit %>
    </div>
  </div>
<% end %>
