<tr>
  <td><%= Email::Log.human_attribute_name(:created_at) %></td>
  <td><time data-controller="time"><%= @log.created_at.to_s(:rfc822) %></time></td>
</tr>
<tr>
  <td><%= Email::Log.human_attribute_name(:mailer) %></td>
  <td><%= @log.mailer %></td>
</tr>
<tr>
  <td><%= Email::Log.human_attribute_name(:action_name) %></td>
  <td><%= @log.action_name %></td>
</tr>
<tr>
  <td><%= Email::Log.human_attribute_name(:params) %></td>
  <td><%= @log.params %></td>
</tr>
<tr>
  <td><%= Email::Log.human_attribute_name(:subject) %></td>
  <td><%= @log.subject %></td>
</tr>
<tr>
  <td><%= Email::Log.human_attribute_name(:message_object_id) %></td>
  <td><%= @log.message_object_id %></td>
</tr>
<tr>
  <td><%= Email::Log.human_attribute_name(:mail_to) %></td>
  <td><%= @log.mail_to %></td>
</tr>
<tr>
  <td><%= Email::Log.human_attribute_name(:cc_to) %></td>
  <td><%= @log.cc_to %></td>
</tr>
<tr>
  <td><%= Email::Log.human_attribute_name(:sent_status) %></td>
  <td><%= @log.sent_status %></td>
</tr>
<tr>
  <td><%= Email::Log.human_attribute_name(:sent_string) %></td>
  <td><%= @log.sent_string %></td>
</tr>
