<div class="item" data-controller="menu">
  <a class="<%= active_helper(controllers: ['log_records', 'log_mailers', 'log_csps'], active_class: 'title active', item_class: 'title') %>">
    <i class="fas fa-bug"></i>
    <span>Logs</span>
    <i class="dropdown icon"></i>
  </a>
  <div class="<%= active_helper(controllers: ['log_records', 'log_mailers', 'log_csps'], active_class: 'menu content active', item_class: 'menu content') %>">
    <%= link_to '错误日志', admin_log_records_path, class: active_helper(controller: 'log/admin/log_records') %>
    <%= link_to '邮件日志', admin_log_mailers_path, class: active_helper(controller: 'log/admin/log_mailers') %>
    <%= link_to 'CSP日志', admin_log_csps_path, class: active_helper(controller: 'log/admin/log_csps') %>
  </div>
</div>
