<div class="<%= active_helper(modules: 'email/panel', active: 'menu ex-accordion is-active', item: 'menu ex-accordion') %>" data-controller="menu">
  <%= content_tag :div, class: 'menu-list' do %>
    <%= link_to t('email.panel.smtps.index.title'), { controller: 'email/panel/smtps' }, class: active_helper(controllers: 'smtps', active: 'is-active') %>
    <%= link_to t('email.panel.acme_accounts.index.title'), { controller: 'email/panel/acme_accounts' }, class: active_helper(controllers: 'acme_accounts', active: 'is-active') %>
    <%= link_to t('email.panel.logs.index.title'), { controller: 'email/panel/logs' }, class: active_helper(controllers: 'log_mailers', active: 'is-active') -%>
  <% end %>
  <a class="menu-label" data-action="menu#toggle">
    <i class="fas fa-bug"></i>
    <span><%= t('email.panel.title') %></span>
    <i class="fas dropdown"></i>
  </a>
</div>
