<tr>
  <td class="has-text-right"><%= Com::Smtp.human_attribute_name(:address) %></td>
  <td><%= @smtp.address %></td>
</tr>
<tr>
  <td class="has-text-right"><%= Com::Smtp.human_attribute_name(:port) %></td>
  <td><%= @smtp.port %></td>
</tr>
<tr>
  <td class="has-text-right"><%= Com::Smtp.human_attribute_name(:authentication) %></td>
  <td><%= @smtp.authentication %></td>
</tr>
<tr>
  <td class="has-text-right"><%= Com::Smtp.human_attribute_name(:enable_starttls_auto) %></td>
  <td>
    <%= form_with theme: nil, model: @smtp, url: { action: 'update' }, data: { controller: 'input' } do |f| %>
      <%= f.check_box :enable_starttls_auto, data: { input_target: 'checkbox' }, id: nil, class: 'switch is-rounded' %>
      <label data-action="click->input#check"></label>
    <% end %>
  </td>
</tr>
<tr>
  <td class="has-text-right"><%= Com::Smtp.human_attribute_name(:ssl) %></td>
  <td>
    <%= form_with theme: nil, model: @smtp, url: { action: 'update' }, data: { controller: 'input' } do |f| %>
      <%= f.check_box :ssl, data: { input_target: 'checkbox' }, id: nil, class: 'switch is-rounded' %>
      <label data-action="click->input#check"></label>
    <% end %>
  </td>
</tr>
<tr>
  <td class="has-text-right"><%= Com::Smtp.human_attribute_name(:openssl_verify_mode) %></td>
  <td><%= @smtp.openssl_verify_mode %></td>
</tr>
